/* ============================================= */
/*              Variables                      */
/* ============================================= */
/* ============================================= */
/*              Base styles                      */
/* ============================================= */
* {
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
}

p {
  line-height: 1.45em;
}

a {
  text-decoration: none;
}

/* ============================================= */
/*              Typography                       */
/* ============================================= */
.main-wrapper,
.works-wrapper,
.about-wrapper,
.contact-wrapper {
  background-image: linear-gradient(to right, #010101 20%, rgba(35, 94, 36, 0.73)), url("../images/orchids2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
}

.greeting {
  color: #cacbcc;
  font-size: 1.9rem;
  font-weight: 400;
  margin: auto 0 auto 0;
  padding-bottom: 4rem;
}

#myName {
  font-size: 4rem;
  color: #e56407e3;
  opacity: 0;
}

.fade-in {
  transition: opacity 2s;
}

.card {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 60%;
  border: 2px solid #a7a7a7;
  margin-bottom: 3rem;
  color: #f0eded;
  border-radius: .5rem;
  padding-top: .5rem;
  background-color: #a7a7a7;
}

.card img {
  width: 100%;
}

.works-title {
  margin-top: 1rem;
  padding-top: 4rem;
}

.container {
  background-color: #787777;
}

.container > p {
  padding-left: .5rem;
  padding-right: .5rem;
}

.container > h4 {
  padding-left: .5rem;
}

.icon-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.icon-box .css-icon {
  height: 100px;
  width: 60px;
}

.icon-box .html-icon {
  height: 110px;
  width: 80px;
}

.icon-box .sass-icon {
  height: 70px;
  width: 70px;
}

.icon-box .js-icon {
  height: 60px;
  width: 60px;
}

.icon-box .js-chart-icon {
  height: 75px;
  width: 75px;
}

.icon-box .react-icon {
  height: 90px;
  width: 90px;
}

.icon-box .node-icon {
  height: 80px;
  width: 60px;
}

.about-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-bottom: 3rem;
}

#hashima-sunset {
  width: 100%;
}

.about-content::first-letter {
  font-size: 250%;
  color: #e56407e3;
}

.about-title {
  margin-top: 1rem;
  padding-top: 4rem;
}

.contact-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin-bottom: 6rem;
  margin-top: 2rem;
  justify-content: center;
  text-align: center;
}

.contact-title {
  margin-top: 1rem;
  padding-top: 4rem;
}

#self-pic {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

#email-contact {
  color: #cacbcc;
}

.hamburger {
  margin-left: auto;
  margin: .5rem .5rem 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  border: black solid 1px;
  border-radius: .3rem;
  background: #d4d2d2;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuIcon {
  color: black;
}

.closeIcon {
  display: none;
  color: black;
}

.menu {
  z-index: 10;
  position: fixed;
  display: flex;
  margin: 1rem auto;
  justify-content: center;
  text-align: center;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 15%;
  color: white;
  transform: translateY(-120%);
  transition: transform 0.8s;
  list-style: none;
  padding-left: 0;
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
}

.menu .nav-wrapper {
  position: relative;
  left: -50%;
}

.menu a {
  color: #e56407e3;
  font-size: 1.2rem;
  width: 8rem;
}

.menu li {
  padding-bottom: .1rem;
}

.showMenu {
  transform: translateY(0);
}

.bar-nav {
  display: none;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f0f0f;
}

#linkedin,
#facebook {
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}

#linkedin {
  margin-left: 1.5rem;
}

#github {
  height: 3rem;
  width: 4rem;
  margin-left: 1rem;
  cursor: pointer;
}

/* ============================================= */
/*              Grid System                      */
/* ============================================= */
.main-wrapper,
.works-wrapper,
.about-wrapper,
.contact-wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 6% auto 5rem;
  grid-template-areas: "navigation"
 "main"
 "footer";
}

/* ============================================= */
/*                 Landing Page                  */
/* ============================================= */
.nav {
  grid-area: navigation;
  display: flex;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  grid-area: footer;
}

/* ============================================= */
/*                  Works Page                   */
/* ============================================= */
.works-main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ============================================= */
/*                  About Page                   */
/* ============================================= */
.about-main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ============================================= */
/*                  Contact Page                 */
/* ============================================= */
.contact-main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
/****************************************************/
/*********        Tablet 768-1023px        **********/
/****************************************************/
@media (min-width: 768px) and (max-width: 1023px) {
  /* ============================================= */
  /*              Grid System                      */
  /* ============================================= */
  .main-wrapper,
  .works-wrapper,
  .about-wrapper,
  .contact-wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: 4rem auto 5rem;
    grid-template-areas: "navigation"
 "main"
 "footer";
  }
  .hamburger {
    display: none;
  }
  .bar-nav {
    display: flex;
    width: 100%;
    align-items: center;
  }
  #myLogo {
    background-color: #fff;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    margin-left: 2rem;
  }
  .nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: right;
    height: 4rem;
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 0;
    padding-right: 2rem;
  }
  .nav-list a {
    color: #e56407e3;
    padding-left: 2rem;
  }
  .menuLink:hover,
  li > .current {
    color: #cacbcc;
  }
  /* ============================================= */
  /*              Works Grid                       */
  /* ============================================= */
  .works-main {
    display: grid;
    text-align: center;
    margin-left: auto;
    justify-items: center;
    grid-template-rows: 5rem 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 2rem;
    grid-template-areas: "title title";
  }
  /* ============================================= */
  /*              Works Components                 */
  /* ============================================= */
  .card {
    height: auto;
  }
  .container {
    height: 20rem;
  }
  .works-title {
    grid-area: title;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  .nav {
    grid-area: navigation;
    display: flex;
    background-color: black;
  }
  .main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer {
    grid-area: footer;
  }
  /* ============================================= */
  /*              About Components                 */
  /* ============================================= */
  .about-title {
    padding-top: 2rem;
    margin-top: 0;
  }
  .about-main {
    display: flex;
    justify-items: center;
  }
  #hashima-sunset {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60%;
  }
  .about-content {
    padding-top: 2rem;
  }
  /* ============================================= */
  /*              Contact Components               */
  /* ============================================= */
  .contact-title {
    padding-top: 2rem;
    margin-top: 0;
  }
  .contact-container {
    margin-bottom: 5rem;
  }
}

/****************************************************/
/*********      Desktop 1024px - Larger    **********/
/****************************************************/
@media (min-width: 1024px) {
  /* ============================================= */
  /*              Grid System                      */
  /* ============================================= */
  .main-wrapper,
  .works-wrapper,
  .about-wrapper,
  .contact-wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: 4rem auto 5rem;
    grid-template-areas: "navigation"
 "main"
 "footer";
  }
  .nav {
    grid-area: navigation;
    display: flex;
    background-color: black;
  }
  .main {
    grid-area: main;
    display: flex;
    flex-direction: row;
  }
  .greeting {
    width: 100%;
    padding-left: 15rem;
    font-size: 2.5rem;
  }
  #myName {
    font-size: 5.5rem;
    color: #e56407e3;
  }
  .footer {
    grid-area: footer;
  }
  .hamburger {
    display: none;
  }
  .bar-nav {
    display: flex;
    width: 100%;
    align-items: center;
  }
  #myLogo {
    background-color: #fff;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    margin-left: 2rem;
    cursor: pointer;
  }
  .nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: right;
    height: 4rem;
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 0;
    padding-right: 2rem;
  }
  .nav-list a {
    color: #e56407e3;
    padding-left: 2rem;
  }
  .menuLink:hover {
    color: white;
  }
  li > .current {
    color: white;
  }
  /* ============================================= */
  /*              Works Grid                      */
  /* ============================================= */
  .works-main {
    display: grid;
    text-align: center;
    margin-left: auto;
    justify-items: center;
    grid-template-rows: 8rem 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
    grid-template-areas: "title title title";
  }
  .card {
    height: auto;
  }
  .container {
    height: 23rem;
  }
  .works-title {
    grid-area: title;
    padding-bottom: 2rem;
  }
  .nav {
    grid-area: navigation;
    display: flex;
    background-color: black;
  }
  .main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* ============================================= */
  /*              About Components                 */
  /* ============================================= */
  .about-container {
    display: flex;
    margin-bottom: 1rem;
  }
  .about-title {
    padding-top: 2.5rem;
    margin-top: 0;
  }
  .about-main {
    display: flex;
    justify-items: center;
  }
  #hashima-sunset {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 30%;
  }
  .about-content {
    padding-top: 2rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
  /* ============================================= */
  /*              Contact Components               */
  /* ============================================= */
  .contact-title {
    padding-top: 4rem;
    padding-bottom: 2rem;
    margin-top: 0;
  }
  .contact-container {
    margin-bottom: 5rem;
    width: 60%;
  }
  /* ============================================= */
  /*              Footer Components                */
  /* ============================================= */
  .footer {
    grid-area: footer;
    justify-content: center;
  }
  #linkedin {
    margin-left: 5rem;
  }
  #github {
    margin-left: 4.5rem;
  }
}
/*# sourceMappingURL=styles.css.map */