//=============================================
//  Main Elements Landing Page
//=============================================
  .main-wrapper,
  .works-wrapper,
  .about-wrapper,
  .contact-wrapper {
    background-image:
    linear-gradient(to right, rgba(1,1,1, 1) 20%, rgba(35,94,36,0.73)), url('../images/orchids2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
}

.greeting {
    color: $color-greeting;
    font-size: 1.9rem;
    font-weight: 400;
    margin: auto 0 auto 0;
    padding-bottom: 4rem;
}

#myName {
  font-size: 4rem;
  color: $color-navFont;
  opacity: 0;
}

.fade-in {
  transition: opacity 2s;
}