/* ============================================= */
/*              Variables                      */
/* ============================================= */

//  Colors
$color-heading: #525151;
$color-cardBorder: #d9d7d7;
$color-pgBackground: #f0eded;
$color-cardBackground: #faf7f7;
$color-cardFont: #aba9a9;
$color-active: #1e5bf7;
$color-backward: #b3101b;
$color-forward: #26a813;


//  Media query breakpoints
$mq-med: 768px;
$mq-medLarge: 1023px;
$mq-large: 1024px;
