/* ============================================= */
/*              Variables                      */
/* ============================================= */

//  Colors
$color-greeting:  #cacbcc;
$color-navFont: #e56407e3;
$color-navActive: #fa6b05f4;
$color-hamburger: #d4d2d2;
$color-footbackground: #0f0f0f;
$color-cardFont: #f0eded;
$color-container: #787777;

//  Media query breakpoints
$mq-med: 768px;
$mq-medLarge: 1023px;
$mq-large: 1024px;
