.card {
    display: flex;
    background-color: $color-cardBackground;
    border: 2px solid $color-cardBorder;
    border-radius: .6rem;
    width: 100%;
    margin-bottom: 2rem;
    align-items: center;
}

.card img {
    border-radius: 50%;
    padding: 1rem;
    min-width: 140px;
}

.name {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.email {
    color: $color-cardFont;
    margin-top: .3rem;
    margin-bottom: .3rem;
    word-wrap: break-word;
}

.address {
    color: $color-cardFont;
    margin-top: .5rem;
}