/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(12, 1fr [col-start]);
  grid-template-areas: 
    "main";
  justify-items: center;
}

main {
  grid-area: main;
}
