//=============================================
//  Footer
//=============================================

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-footbackground;
    box-shadow: 0 -1px 4px $nav-footer-blur;
}

#linkedin,
#facebook {
    height: 3rem;
    width: 3rem;
    cursor: pointer;
}

#linkedin {
    margin-left: 1.5rem;
}

#github {
    height: 3rem;
    width: 4rem;
    margin-left: 1rem;
    cursor: pointer;
}