/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

/****************************************************/
/*********        Tablet 768-1023px        **********/
/****************************************************/

@media (min-width: $mq-med) and (max-width: $mq-medLarge) {
  
/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.main-wrapper,
.works-wrapper,
.about-wrapper,
.contact-wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: 4rem auto 5rem;
    grid-template-areas: 
    
    "navigation"
    "main"
    "footer";
}

//=============================================
//  Navigation
//=============================================

.checkbox {
    display: none;
}

.nav-container .hamburger-lines {
    display: none;
}

.nav {
    display: flex;
}

.navbar,
.ham-container,
.nav-container,
.menu-items {
    display: flex;
    width: 100%;
    align-items: center;
}

.ham-container  {
    margin: 0;
}

.menu-items {
    height: 60px;
    margin-left: 0;
    margin-right: 0;
    margin: 0;
    padding: 0;
    color: $color-navFont;
    width: 100%;
}

#myLogo {
    background-color: #fff;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    margin-left: 2rem;
}

.navbar .nav-container a {
    font-size: 1.5rem;
}

.navbar .menu-items {
    background-color: black;
    box-shadow: none;
    padding-top: 3.5rem;
    width: 100%;
    transform: translate(0%);
    height: 60px;
    flex-direction: row;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-bottom: 1rem;
}

ul {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}


.navbar .nav-container a:hover{
    font-weight: bolder;
    color: white;
}

.navbar .nav-container .current{
    color: white;
  }

// /* ============================================= */
// /*              Works Grid                       */
// /* ============================================= */

.works-main {
     display: grid;
    text-align: center;
    margin-left: auto;
    justify-items: center;
    grid-template-rows: 5rem 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 2rem;
    grid-template-areas: 
        "title title"
        ;
}

/* ============================================= */
/*              Works Components                 */
/* ============================================= */

.card {
    height: auto;
}

.container{
    height: 20rem;
}


.works-title {
    grid-area: title; 
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.nav {
    grid-area: navigation;
    display: flex;
    background-color: black;
}

.main {
    grid-area: main;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    grid-area: footer;
}

/* ============================================= */
/*              About Components                 */
/* ============================================= */

.about-title {
    padding-top: 2rem;
    margin-top: 0;
}

.about-main {
    display: flex;
    justify-items: center;
}

#hashima-sunset {
    margin-left: auto;
    margin-right: auto;
    display:block;
    width: 60%;
}

.about-content {
    padding-top: 2rem;
}

.skills {
    padding-left: 20%;
    justify-content: center;
}

.skill-items {
    display:block;
}

/* ============================================= */
/*              Contact Components               */
/* ============================================= */

.contact-title {
    padding-top: 2rem; 
    margin-top: 0;
}

.contact-container {
    margin-bottom: 1.5rem;
}

#self-pic {
    height: 14rem;
    width: 14rem;
    border-radius: 50%;
    margin-bottom: 2rem;
}

}

/****************************************************/
/*********      Desktop 1024px - Larger    **********/
/****************************************************/

@media (min-width: $mq-large) {

     
/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.main-wrapper,
.works-wrapper,
.about-wrapper,
.contact-wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: 4rem auto 5rem;
    grid-template-areas: 
    
    "navigation"
    "main"
    "footer";
}

.nav {
    grid-area: navigation;
    display: flex;
    background-color: black;
}

//=============================================
//  Landing Page
//=============================================


.main {
    grid-area: main;
    display: flex;
    flex-direction: row;
}

.greeting {
    width: 100%;
    padding-left: 15rem;
    font-size: 2.5rem;
    
}

#myName {
  font-size: 5.5rem;
  color: $color-navFont;
}

.footer {
    grid-area: footer;
}

//=============================================
//  Navigation
//=============================================

.checkbox {
    display: none;
}

.nav-container .hamburger-lines {
    display: none;
}

.nav {
    display: flex;
}

.navbar,
.ham-container,
.nav-container,
.menu-items {
    display: flex;
    width: 100%;
    align-items: center;
}

.ham-container  {
    margin: 0;
    max-width: none;
}

.menu-items {
    height: 60px;
    margin-left: 0;
    margin-right: 0;
    margin: 0;
    padding: 0;
    color: $color-navFont;
    width: 100%;
}

.logo-mark {
    display:block;
}

#myLogo {
    background-color: #fff;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    margin-left: 2rem;
    cursor: pointer;
}

.navbar .menu-items {
    background-color: black;
    box-shadow: none;
    padding-top: 3.5rem;
    width: 100%;
    transform: translate(0%);
    height: 60px;
    flex-direction: row;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-bottom: 1rem;
}

.navbar .nav-container a {
    font-size: 1.5rem;
}

ul {
    display: flex;
    align-items: right;
    margin-left: auto;
    margin-bottom: 0;
    padding-right: 3rem;

}

.navbar .nav-container .current{
    color: white;
  }

/* ============================================= */
/*              Works Grid                      */
/* ============================================= */

.works-main {
    display: grid;
    text-align: center;
    margin-left: auto;
    justify-items: center;
    grid-template-rows: 8rem 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
    grid-template-areas: 
        "title title title"; 
}
 
.card {
    height: auto;  
}

.container{
    height: 23rem;
}

.works-title {
    grid-area: title; 
    padding-bottom: 2rem;
}

.nav {
    grid-area: navigation;
    display: flex;
    background-color: black;
}

.main {
    grid-area: main;
    display:flex;
    flex-direction: column;
    align-items: center;
}


/* ============================================= */
/*              About Components                 */
/* ============================================= */

.about-container {
    display: flex;
    margin-bottom: 1rem;
}

.about-title {
    padding-top: 2.5rem;
    margin-top: 0;
}

.about-main {
    display: flex;
    justify-items: center;
}

#hashima-sunset {
    margin-left: auto;
    margin-right: auto;
    display:block;
    width: 30%;
}

.about-content {
    padding-top: 2rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}


.skills {
    padding-left: 35%;
    justify-content: center;
}

.skill-items {
    display:block;
}

/* ============================================= */
/*              Contact Components               */
/* ============================================= */

.contact-title {
    padding-top: 2rem; 
    margin-top: 0;
}

.contact-container {
    margin-bottom: 5rem;
    width: 60%;
}

#self-pic {
    height: 14rem;
    width: 14rem;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.field {
    display: flex;
}


.field label {
    display: inline-block;
    width: 140px;
    text-align: right; 
    font-size: 1rem;
    padding-right: 1rem;
}

#button {
    margin-left: 140px;
}​

/* ============================================= */
/*              Footer Components                */
/* ============================================= */

.footer {
    grid-area: footer;
    justify-content:center;
}

#linkedin {
    margin-left: 5rem;
}

#github {
    margin-left: 4.5rem;
}

}