.main {
    background-color: #FFF;
}

/******************************/
/*********** Header ***********/
/******************************/

.main-header-box {
    display: flex;
    flex-direction: column;
    width: auto;
}

.main-header {
    display: flex;
 }

 .headline {
    margin: 0;
    padding: 1.5rem .6rem ;
    font-size: 1.3rem;
    color: #5e5e5e;
} 

.main-header-search {
    display: flex;
    padding-top: .6rem;
    padding-right: .3rem;
    border-radius: 0 0 0 10px;
    background-color:#fcfafaf7;
    margin-left: auto;
    width: 100%;
}

.main-header-search input {
    height: 1.6rem;
    display: inline-block;
    min-width: 40%;
    font-size: .8rem;
    margin-left: auto;
} 

/******************************/
/****** Section Headings ******/
/******************************/

.social-stats h3 {
    margin-bottom: .5rem;
}

.social-stats h3,
.members h3,
.recent-activity h3,
.message h3,
.settings h3,
.traffic-header h3,
.daily h3,
.mobile-users h3 {
    margin-left: .3rem;
    font-size: 1rem;
    color: #5e5e5e;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -1px;
    
}


/******************************/
/******** Social Stats ********/
/******************************/

.social-stats {
    border-top: 2px solid lightgray;
    padding-bottom: 0;
    margin-top: 2rem;
}

.social-image {
    display: flex;
    align-items: center;
    background-color: #7c75c7;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-left: .3rem;
    margin-right: 2rem;
}

.twitter {
    margin-top: 1.5rem;
    margin-left: 1rem;
    display: block;
}

.google {
    margin-left: 1.2rem;
    margin-top: 1.2rem;
}

.facebook {
    margin-left: .7rem;
    margin-top: .5rem;
}

.social-container {
    display: flex;
    flex-direction: row;
    padding: .5rem 0 .5rem;
    justify-content: center; 
    width: 70%;
    margin: .5rem auto;
    height: 5rem;
    background-color: #fcfafaf7;
}

div.social-text > p:first-child {
    color:#7c75c7;
    font-weight: bolder;
    margin-top: 0;
    margin-bottom: .5rem;
}

div.social-text > p:nth-of-type(2) {
    font-size: 2rem;
    margin-top: 0;
    color: #5e5e5e;
} 

/******************************/
/********** Members ***********/
/****** Recent Activity *******/
/******************************/

.members,
.recent-activity {
    display: flex;
    flex-direction: column;
    border-top: 2px solid lightgray;
    margin-top: 2rem;
}

.member-container,
.activity-container {
    display: flex;
    padding-top: .3rem;
    padding-bottom: .7rem;
    border-bottom: #f5f2f2 solid 2px;
}

.member-container img,
.activity-container img  {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: .3rem;
}

.member-text,
.activity-text {
    font-size: .7rem;
    margin: auto auto auto .5rem;
    color: #5e5e5e;
}

.member-text a {
    text-decoration: none;
}

section.members > div:nth-child(5),
section.recent-activity > div:nth-child(5) {
    border-bottom: none;
}

/******* Member name******/
div.member-text > p:first-child {
    margin-top: 0;
    margin-bottom: .1rem;
}

/******* Date ******/
.member-container > p {
    font-size: .7rem;
    margin-right: .3rem;
    margin-right: 0;
    padding-right: .3rem;
    color: #5e5e5e;
    align-self: center;
}

/******************************/
/****** Recent Activity *******/
/******************************/

/******** Activity Text *******/
div.activity-text > p:nth-child(2){
    margin-top: .1rem;
    margin-bottom: .1rem;
}

div.activity-text > p:first-child{
    margin-top: 0;
    margin-bottom: .1rem;
}

/************ Arrow ***********/
.activity-container > span {
    font-size: 1rem;
    margin-right: .3rem;
    align-self: center;
    margin-right: 0;
    padding-right: .3rem;
    color: #2a63f5;
}

.activity-container > span:hover {
    color: blue;
} 


/******************************/
/******** Message User ********/
/******************************/

.message {
    margin: 1rem 0 1rem 0;
    border-top: 2px solid lightgray;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    width: 80%;
}

.form-field {
    font-size: .8rem;
    background-color: #f5f2f2;
    border: 1px solid gray;
    border-radius: .3rem;
    height: 2rem;
    padding-left: .5rem;
    width: 100%;
}

textarea {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 5rem;
    font-size: .8rem;
    background-color: #f5f2f2;
    border: 1px solid gray;
    border-radius: .3rem;
    padding: .5rem 0 0 .5rem;
}

.button-primary {
    border-radius: .3rem;
    border: 1px solid #7c75c7;
    height: 2rem;
    background-color: #7c75c7;
    color:#FFF;
    font-size: .8rem;
}

.button-primary:hover {
    cursor: pointer;
}

/******************************/
/********** Settings **********/
/******************************/

.settings {
    margin: 1rem 0 1rem 0;
    justify-items: center;
    border-top: 2px solid lightgray;
}

.switch-ios.switch-light input:checked ~ span {
    box-shadow: inset 0 0 0 30px #7c75c7; 
}

label.switch-light.switch-ios {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;;
}

.switch-light.switch-ios strong {
    flex-basis: 400px;
}

.switch-ios.switch-light input:checked ~ span a {
    border-color: lightgray;
}

.switch-ios.switch-light input:hover ~ span {
    cursor: pointer;
}

#timezone {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.settings-button {
    display: flex;
    width: 100%;
    justify-content: space-around;
    
}

.button-save,
.button-disabled {
    width: 6rem;
    height: 2rem;
    border-radius: .3rem;
}

.button-save {
    background-color: #7c75c7;
    color:#FFF;
    border: none;
}

.button-disabled {
    border: none;
    background-color: darkgray;
    color: #FFF;
}

.button-save:hover,
.button-disabled:hover {
    cursor: pointer;
}