nav {
    display: flex;
    justify-content: center;
    height: 3.5rem;
    align-items: center;
}

nav a:not(:first-child) {
    margin-left: 2rem;
} 

nav > a:hover {
    cursor: pointer;
}

nav a object {
    pointer-events: none;
}