* {
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
            "header"
            "navigation"
            "main";
}

.header {
    grid-area: header;
}

.navigation {
    grid-area: navigation;
    background-color: #7c75c7;
}

.main {
    grid-area: main;

}