div.search {
    position: relative;
    display: inline-block;
   }
  
.autocomplete-items {
    position: absolute;
    border: 1px solid lightgray;
    border-bottom: none;
    border-top: none;
    z-index: 99; 
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: .8rem;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid lightgray;
}
  
.autocomplete-items div:last-child {
    border-radius: 0 0 .5rem .5rem;
}

.autocomplete-items div:hover {
     background-color: #7c75c7;
     color: #FFF;
}

.autocomplete-active {
    background-color: #7c75c7 !important;
    color: #FFF;
} 